.leftCont {
    padding: 4rem 3rem;
    background-color: var(--primaryColor);
}

.leftCont ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.leftCont li {
    padding: 1rem;
    background-color: var(--backgroundColor);
    cursor: pointer;
    transition: background-color 400ms;
    display: flex;
    gap: 1rem;
}

.leftCont li:hover {
    background-color: #fff;
    color: #000;
}

.leftCont li:hover svg {
    fill: #000;
}


.leftCont svg {
    display: inline-block;
    margin-left: auto;
}

.leftCont a svg {
    margin-left: .5rem;
}

.leftCont a {
    display: inline-block;
    margin: 0 auto;
}



.mainTextArea p {
    margin-block: 1rem;
}