.nav {
  position: sticky;
  padding-right: 1rem;
}

.mainMenu {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  text-transform: capitalize;
}

.mainMenu>li {
  padding: 1.5rem 1rem;
  cursor: pointer;
  background-color: var(--backgroundColor);
  display: grid;
  align-items: center;
  justify-items: center;
}

.mainMenu>li:hover {
  filter: brightness(1.1);
}



.secondNav {
  display: flex;
  overflow-x: auto;
  text-transform: capitalize;
}

.secondNav>li>a {
  padding: 1rem;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
}

.secondNav>li:hover {
  background-color: var(--backgroundColor);
}



.utilityButton {
  border-radius: 0;
}

.scrollBar::-webkit-scrollbar {
  width: 0.25rem;
}

.scrollBar::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
}


.descText {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cart {
  position: absolute;
  right: 0;
  translate: 1rem 1rem;
  width: min(300px, 80vw);
}

.cartProductsCont {
  grid-template-rows: 1fr auto;
  max-height: 70vh;
}


@media only screen and (max-width: 600px) {
  .nav {
    position: relative;
    padding-right: 0;
    padding: 1rem;
    max-width: 97vw;
  }

  .cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    translate: 0 0;
  }

  .cartProductsCont {
    max-height: 90vh;
  }
}