.mainMenu {
  display: flex;
  overflow-x: auto;
  max-width: 100vw;
  white-space: nowrap;
  text-transform: capitalize;
}

.mainMenu>li {
  padding: 1.5rem 1rem;
  cursor: pointer;
  background-color: var(--backgroundColor);
  display: grid;
  align-items: center;
  justify-items: center;
}

.mainMenu>li:hover {
  filter: brightness(1.1);
}



.secondNav {
  display: flex;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.secondNav>li>a {
  padding: 1rem;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
}

.secondNav>li:hover {
  background-color: var(--backgroundColor);
}



.utilityButton {
  border-radius: 0;
}