    .navBar {
        display: grid;
        grid-template-columns: auto 1fr auto;
        color: #777;
        align-items: center;
        white-space: nowrap;
        text-transform: capitalize;
        gap: 1rem;
        position: sticky;
        top: 0;
        background-color: var(--primaryColor);
        z-index: 999;
        padding: 1rem;
    }


    .mainMenu {
        display: flex;
        justify-content: center;
        background-color: var(--primaryColor);

    }

    .mainMenuItem {
        position: relative;
    }


    .mainMenuItem:hover>.subMenu {
        display: block;
    }



    .mainMenuItem:hover {
        color: #fff;
    }

    .mainMenuItem>a {
        padding: 1rem;
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    .mainMenuItem>a::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../../public/squigglyBg.webp');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 400ms;
    }

    .mainMenuItem:hover>a::before {
        opacity: 1;
    }

    .subMenu {
        display: none;
        position: absolute;
        background-color: var(--primaryColor);
        max-height: 80vh;
        overflow-y: auto;
    }

    .subMenu::-webkit-scrollbar {
        display: none;
    }

    .subMenuItem {
        padding: 1rem;
        position: relative;
        transition: color 600ms;
    }

    .subMenuItem>a {
        position: relative;
        z-index: 1;
    }

    .subMenuItem:hover {
        color: black
    }

    .subMenuItem:hover::before {
        transform: scale(1);
        transform-origin: left;
    }

    .subMenuItem::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 400ms;
        transform-origin: right;
    }


    @media only screen and (max-width: 1023px) {

        /* phone and tablet */
        .navBar {
            position: relative;

        }

        .mainMenu {
            display: grid;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            justify-content: stretch;
        }

        .mainMenuItem {
            width: 100%;
        }

        .subMenu {
            position: relative;
        }
    }