.musicIcon {
    animation: slideIn 2s both ease-in-out;
    margin-block: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    z-index: 9999;
}

.musicIcon>svg {
    animation: slideIn 2s both ease-in-out,
        scaleBounce 1s infinite alternate var(--audioNotPlayingPlayState),
        colorShift infinite 5s var(--audioPlayingPlayState),
        scaleBump infinite 700ms var(--audioPlayingPlayState);
}

.musicIcon:hover {
    scale: 1;
}

@keyframes slideIn {
    0% {
        translate: -100vw 0;
        opacity: 0;
        rotate: -360deg;
    }

    75% {
        translate: 2vw 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes scaleBounce {
    to {
        transform: scale(1.2);
    }
}

@keyframes colorShift {
    0% {
        fill: #fff;
        scale: 1;
    }

    15% {
        fill: rgb(var(--color1))
    }

    30% {
        fill: rgb(var(--color2))
    }

    45% {
        fill: rgb(var(--color3))
    }

    60% {
        fill: rgb(var(--color4))
    }

    75% {
        fill: rgb(var(--color5))
    }

    100% {
        fill: #fff
    }
}

@keyframes scaleBump {
    0% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}