.skillMainDiv {
    background-color: var(--backgroundColor);
    display: grid;
    gap: 2rem;
    position: relative;
    padding: 2rem 3rem;
}

.progressBar {
    transform-origin: left;
    animation: animateIn 1s both paused;
}


@keyframes animateIn {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }

}