.skillMainDiv {
    background-color: var(--backgroundColor);
    display: grid;
    gap: 2rem;
    position: relative;
    padding: 2rem 3rem;
}


.progressBar {
    transform-origin: left;
    transform: scaleX(0);
}

.animateIn {
    animation: animateIn 1s forwards;
}

@keyframes animateIn {
    to {
        transform: scaleX(1);

    }

}