@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #252734;
  /* text sizes */
  --extraLargeFontSize: 3rem;
  --largeFontSize: 2rem;
  --mediumFontSize: 1.3rem;
  --regularFontSize: 1rem;
  --smallFontSize: .7rem;
}

html {
  background-color: var(--primaryColor);
  color: #fff;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  min-height: 100%;
  display: grid;
}

*,
*::before,
*::after {
  border: 1px solid red !important;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--primaryColor);
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

button {
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
  background-color: var(--primaryColor);
  transition: filter 400ms;
}

button:hover {
  filter: brightness(1.3);
}

button:disabled {
  opacity: .4;
}

.roundButton {
  border-radius: 50%;
  padding: 2rem;
  opacity: .5;
  aspect-ratio: 1/1;
  transition: background-color 400ms;
}

.roundButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.roundButton:hover svg {
  fill: #000;
}

svg {
  aspect-ratio: 1/1;
  width: 1rem;
  fill: #fff;
  transition: scale 600ms;
}

svg:hover {
  scale: 1.2;
}

section {
  padding: 2rem 1rem;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



input,
textarea {
  padding: 1rem;
  background-color: rgb(var(--backgroundColor));
  border: 1px solid #777;
  border-radius: 0;
  position: relative;
}

input::placeholder,
textarea::placeholder {
  opacity: .7;
}

input:focus,
textarea:focus {
  border: 1px solid #fff;
}

textarea {
  resize: none;
}


.extraLargeText {
  font-size: var(--extraLargeFontSize);
  font-weight: bold;
}

h1 {
  font-size: var(--largeFontSize);
  font-weight: bold;
}

h2 {
  font-size: var(--mediumFontSize);
  opacity: .8;
}

h2::before {
  content: "||";
  margin-right: .5rem;
}

h3 {
  font-weight: bold;
}

.niceScrollBar::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.niceScrollBar::-webkit-scrollbar-track {
  background-color: var(--primaryColor);
}

.niceScrollBar::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}


::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: var(--primaryColor);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}


.noScrollBar::-webkit-scrollbar {
  display: none;
}

.makeBold {
  font-weight: bold;
}

.toolTip {
  position: relative;
  cursor: help;
}

.toolTip::before {
  content: attr(data-tooltip);
  background-color: #fff;
  color: #000000;
  padding: .5rem;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 3rem;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  width: max-content;
  transition: opacity 400ms;
  font-size: .7rem;
}

.toolTip:hover:before {
  animation: slowOpacity 1s 2s forwards;
}

@keyframes slowOpacity {
  to {
    opacity: 1;
  }
}




.blackFadeIn::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  animation: blackFadeIn 3s both var(--animationPlaystate);
  z-index: 1000;
  user-select: none;
  pointer-events: none;
}

@keyframes blackFadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.testHeight {
  height: 5000vh;
}




.clear {
  display: none !important;
}

.clearNav {
  animation: clearMoveUp 1s forwards;
}

.clearNav2 {
  animation: clearMoveDown 1s forwards;
}

@keyframes clearMoveUp {
  0% {
    translate: 0 0;
    opacity: 1;
  }

  99% {
    translate: 0 -100%;
    opacity: 0;
  }

  100% {
    display: none;
  }
}


@keyframes clearMoveDown {
  0% {
    translate: 0 0%;
    opacity: 1;

  }

  99% {
    translate: 0 100%;
    opacity: 0;
  }

  100% {
    display: none;
  }
}



.snap {
  scroll-snap-type: x mandatory;
}

.snap>* {
  scroll-snap-align: start;
}

audio {}

audio::-webkit-media-controls {
  width: inherit;
  height: inherit;
  position: relative;
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

audio::-webkit-media-controls-enclosure {
  width: 100%;
  max-width: 800px;
  height: 30px;
  flex-shrink: 0;
  bottom: 0;
  text-indent: 0;
  padding: 0;
  box-sizing: border-box;
}

audio::-webkit-media-controls-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* We use flex-start here to ensure that the play button is visible even
   * if we are too small to show all controls.
   */
  justify-content: flex-start;
  -webkit-user-select: none;
  position: relative;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  text-align: right;
  bottom: auto;
  /* height: 30px; */
  background-color: #2a2c39;
  /* border-radius: 5px; */
  /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
  transition: opacity 0.3s;
}

audio:-webkit-full-page-media {
  max-height: 100%;
  max-width: 100%;
}

audio:-webkit-full-page-media::-webkit-media-controls-panel {
  bottom: 0px;
}

audio::-webkit-media-controls-mute-button {
  -webkit-appearance: media-mute-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 35px;
  height: 30px;
  line-height: 30px;
  margin: 0 6px 0 0;
  padding: 0;
  background-color: initial;
  color: inherit;
}

audio::-webkit-media-controls-overlay-enclosure {
  display: none;
}


audio::-webkit-media-controls-play-button {
  -webkit-appearance: media-play-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: 9px;
  margin-right: 9px;
  padding: 0;
  background-color: initial;
  color: inherit;
}

audio::-webkit-media-controls-timeline-container {
  -webkit-appearance: media-controls-background;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1;
  -webkit-user-select: none;
  height: 16px;
  min-width: 0;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  -webkit-appearance: media-current-time-display;
  -webkit-user-select: none;
  flex: none;
  display: flex;
  border: none;
  cursor: default;
  height: 30px;
  margin: 0 9px 0 0;
  padding: 0;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-decoration: none;
}

audio::-webkit-media-controls-timeline {
  -webkit-appearance: media-slider;
  display: flex;
  flex: 1 1 auto;
  height: 8px;
  margin: 0 15px 0 0;
  padding: 0;
  background-color: transparent;
  min-width: 25px;
  border: initial;
  color: inherit;
}

audio::-webkit-media-controls-volume-slider {
  -webkit-appearance: media-volume-slider;
  display: flex;
  /* The 1.9 value was empirically chosen to match old-flexbox behaviour
   * and be aesthetically pleasing.
   */
  flex: 1 1.9 auto;
  height: 8px;
  max-width: 70px;
  margin: 0 15px 0 0;
  padding: 0;
  background-color: transparent;
  min-width: 15px;
  border: initial;
  color: inherit;
}


audio::-webkit-media-controls-fullscreen-button {
  -webkit-appearance: media-enter-fullscreen-button;
  display: flex;
  flex: none;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left: -5px;
  margin-right: 9px;
  padding: 0;
  background-color: initial;
  color: inherit;
}

audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}

audio::-webkit-media-controls-fullscreen-volume-slider {
  display: none;
}

audio::-webkit-media-controls-fullscreen-volume-min-button {
  display: none;
}

audio::-webkit-media-controls-fullscreen-volume-max-button {
  display: none;
}