@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #252734;

  /* text sizes */
  --extraLargeFontSize: 3rem;
  --largeFontSize: 2rem;
  --mediumFontSize: 1.5rem;
  --regularFontSize: 1rem;
}

html {
  background-color: var(--backgroundColor);
  color: #fff;
}

*,
*::before,
*::after {
  border: 1px solid red !important;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

button {
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
}

svg {
  aspect-ratio: 1/1;
  width: 1rem;
  fill: #fff;
  transition: scale 600ms;
}

svg:hover {
  scale: 1.2;
}

section {
  padding: 2rem 1rem;
}

.extraLargeText {
  font-size: var(--extraLargeFontSize);
  font-weight: bold;

}

h1 {
  font-size: var(--largeFontSize);
  font-weight: bold;
}

h2 {
  font-size: var(--mediumFontSize);
  font-weight: bold;
}

h3 {
  font-weight: bold;
}