.oreoParentDiv {
    --oreoPrimaryColor: #2347bc;
    color: #000;

}

.oreoParentDiv button {
    border: none;
    font-weight: bold;
}

.oreoParentDiv h2::before {
    content: none;
}

.oreoParentDiv h2 {
    font-weight: bold;
}


.ingredientsCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.ingredientsCont>div {
    flex: 0 0 200px;
    text-align: center;
    display: grid;
    justify-items: center;
}

.ingredientsCont>div>img {
    border-radius: 50%;
    width: 70%;
    aspect-ratio: 1/1;
}