.mainVidPlayer {
    height: 100svh;
    padding-block: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr auto;
}

.vidSearchCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vidSearchCont>button {
    border-radius: 0;
}

.vidCont {
    overflow: auto;
}

.vidCont>iframe {
    aspect-ratio: 16/9;
    max-height: 100%;
}