.mainVidPlayer {
    height: 100svh;
    padding-block: 2rem;
    display: grid;
    gap: 1rem;
    align-content: flex-start;
}

.vidSearchCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vidSearchCont>button {
    border-radius: 0;
}

.vidCont {
    overflow: auto;
}

.vidCont>iframe {
    aspect-ratio: 16/9;
    max-height: 100%;
}