.mainDivRef {
    height: 100vh;
    display: grid;
    align-content: flex-start;
}

.canvas {
    background-color: #fefefe;
    overflow: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    position: relative;
    height: 400px;
}

.room {
    aspect-ratio: 1/1;
}

.path {
    background-color: pink;
    position: absolute;
}

.tank {
    position: absolute;
    aspect-ratio: 1/1;
    background-color: green;
    top: 0;
    left: 0;
    z-index: 999;
}

.shell {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1/1;
    border-radius: 50%;
}