.animateIn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    animation: fadeIn 3s 400ms forwards;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
}


.testHeight {
    height: 5000vh;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}