.animText {
    animation: animateIn 2s both;
    font-size: 1.2rem;

}

.textStyles {
    font-weight: bold;
}


@keyframes animateIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}