.servicesMainDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    overflow-x: hidden;
    text-align: center;

}

.servicesMainDiv>div {
    flex: 0 0 300px;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    align-content: flex-start;
    animation: slideIn 1500ms both paused;
}

.servicesMainDiv>div>h1 {
    /* align-self: center; */
    /* text-align: center; */
}

.servicesMainDiv>div>img {
    justify-self: center;
}


.servicesMainDiv>div>ul {
    display: grid;
    gap: 1rem
}

.servicesMainDiv>div>ul svg {
    width: .5rem;
    display: inline;
    margin-right: .2rem;
}



@keyframes slideIn {
    0% {
        opacity: 0;
        scale: .9;
        translate: 100vw 0;
    }

    65% {
        translate: -5vw 0;
    }

    100% {
        opacity: 1;
        scale: 1;
        translate: 0vw 0;
    }
}