.servicesMainDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}

.servicesMainDiv>div {
    flex: 0 0 300px;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    align-content: flex-start;
}

.servicesMainDiv>div>h1 {
    /* align-self: center; */
    /* text-align: center; */
}

.servicesMainDiv>div>img {
    justify-self: center;
}


.servicesMainDiv>div>ul {
    display: grid;
    gap: 1rem
}

.servicesMainDiv>div>ul svg {
    width: .5rem;
    display: inline;
    margin-right: .2rem;
}