.mainDiv {
    position: relative;
    overflow: hidden;
    display: grid;
}

.settingsCont {
    display: grid;
    justify-self: flex-end;
    align-content: flex-start;
    z-index: 10;
    width: min(400px, 100%);
    overflow-y: auto;
    justify-items: center;
    gap: 1rem;
}


.formCont {
    display: grid;
}

.formCont label {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
}


.formCont input {
    color: #fff;
    background-color: #252734;
}