.faqCont {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: var(--primaryColor);
    padding: 3rem 2rem;
}

.faqCont>p {
    flex: 1 1 150px;
    background-color: var(--backgroundColor);
    aspect-ratio: 1/1;
    max-width: 150px;
    margin-inline: auto;
    display: grid;
    align-items: center;
    justify-items: center;
}


.faqCont>div {
    flex: 9999 1 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}